{% extends 'base.html' %}
{% load shop_tags %}
{% block title %}
    {{ deal.name|capfirst }} - Скидка и Акция
{% endblock %}
{% block description %}
    {{ deal.description|safe|truncatechars:325|striptags }}
{% endblock %}
{% block content %}

<div class="container">

      <!-- row blog -->
      <div class="row mb-3">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <article class="blog_single">
          <!-- Title -->
          <h1 class="mt-2">{{ deal.name|upper }} СО СКИДКОЙ</h1>

          <hr>
          <div class="row">
              <div class="col-lg-7 col-sm-12 d-flex mx-auto align-items-center justify-content-center">
                <figure class="figure-img ">
                <a href="{{ deal.url }}" target="_blank"><img class="d-block img-fluid" src="{{ deal.deals_image.url }}" alt="Скидка на {{ deal.name }}"></a>
                </figure>
              </div>
              <div class="col-lg-5 col-md-12 col-sm-12 d-flex flex-column">

                    <div class="price mb-20">
                        <h4 class="price p-2 mb-0 text-center text-success"> {{ deal.price}} <i class="fas fa-ruble-sign"></i> <span class="price-sale">{{ deal.old_price }} <i class="fas fa-ruble-sign"></i></span></h4>
                    </div>
                    <figure class="figure-img mx-auto justify-content-center mt-3">
                    <a href="{{ deal.shop.get_absolute_url }}" target="_blank"><img class="d-block img-fluid" src="{{ deal.shop.image_store.url }}" alt="Скидки в магазине {{ deal.shop.title }}" width="150px" height="150px"></a>
                    </figure>

                  <div class="buy-now mt-auto align-bottom">
                    <p class="text-center mt-auto"><small>Цена на товар может измениться, не пропустите скидку!</small></p>
                    <a href="{{ deal.url }}" target="_blank" class="btn btn-block btn-lg">
                        <i class="fa fa-shopping-cart font-16 mr-10"></i> В магазин
                    </a>
                </div>
              </div>
          <!-- Preview Image -->
          </div>
          <hr>
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Описание</a>
                {% if deal.param %}
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#characteristics" role="tab" aria-controls="characteristics" aria-selected="false">Характеристики</a>
                {% endif %}
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="p-2">{{ deal.description|safe}}</div>
              </div>

              <div class="tab-pane fade" id="characteristics" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="p-2 param">{{ deal.param|safe}}</div>
              </div>

            </div>


          <hr>
          <!--
              <footer class="entry-footer">
                <div class="blog-post-tags">
                    <ul>
                        <li>Теги :</li>

                                <li>
                                    <a href="/blog/tag/fen">Фен</a>
                                </li>

                    </ul>
                </div>
            </footer>
          <hr class="mb-0">
          -->

        </article>
            <article class="blog_single">
                <div data-widget-id="F2VvKCe4" class="smw3"></div>
                <noscript><a href="//socialmart.ru" title="SocialMart" target="_blank">Виджет от SocialMart</a></noscript>
                <script async type="text/javascript" charset="UTF-8" src="//widget.socialmart.ru/init.php?render=js&wid=F2VvKCe4"></script>
            </article>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 col-xs-12">

            <!-- Categories Widget -->
            {% show_deal_category %}
          <!-- Side deals Widget -->
            {% show_last_deals %}
          <!-- Side deals Widget end -->

          <!-- Side shops Widget -->
            {% trending_stores %}
          <!-- Side shops Widget end -->

        </div>

      </div>
      <!-- /.row -->

    </div>
{% endblock %}
