{% extends 'base.html' %}
{% load shop_tags %}
{% block title %}
    post.title|capfirst - {{ block.super }}
{% endblock %}

{% block content %}
<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
<div class="container">

      <!-- row blog -->
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 col-sm-12">

            <h2 class="my-4">Результаты поиска по запросу - "{{ q }}"</h2>

          <div class="row mt-4">
          <!-- Blog Post -->
          {% for deal in posts %}
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">

                    <figure class="figure-img d-flex mx-auto align-items-center mt-3" style="height: 200px">
                    <a href="{{ deal.get_absolute_url }}"><img class="py-1 d-block img-fluid" src="{% if deal.deals_grid_image %}{{ deal.deals_grid_image.url }}{% endif %}" alt="Скидка на {{ deal.name }}"></a>
                    </figure>
                    <h6 class="price p-2 mb-0 text-center text-success"> {{ deal.price }} <i class="fas fa-ruble-sign"></i> / <span class="price-sale">{{ deal.old_price }} <i class="fas fa-ruble-sign"></i></span></h6>
                    <div class="card-body p-2">
                      <h4 class="card-title text-center mb-0">
                        <a href="{{ deal.get_absolute_url }}">{{ deal.name|truncatechars:55 }}</a>
                      </h4>
                    </div>
                      <a href="{{ deal.shop.get_absolute_url }}" class="text-center mb-1"><small>от</small> {{ deal.shop.title }}</a>
                      <a href="{{ deal.url }}" target="_blank" class="btn btn-block card-footer text-white" >
                          В Магазин
                      </a>
                  </div>
              </div>
      {% endfor %}
          </div>

        <!-- Page Pagination -->
          {% include 'pagination.html' %}
          <!-- End Page Pagination -->
        <!-- row blog end -->
        </div>



        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 col-xs-12">

          <!-- Categories Widget -->
          {% show_deal_category %}

          <!-- Side deals Widget -->
            {% show_last_deals %}

          <!-- Side shops Widget -->
            {% trending_stores %}
          <!-- Side shops Widget end -->
        </div>

      </div>
      <!-- /.row -->

    </div>
{% endblock %}
