{% load mptt_tags %}
<div class="card my-4">
<h5 class="card-header">Категории</h5>
    {% recursetree categories %}
        <h5 class="card-header">
        <a data-toggle="collapse" href="#{{ node.id }}" role="button" aria-expanded="true" aria-controls="collapseExample">
            {{ node.get_root }}
        </a>
        </h5>
        <ul class="collapse list-group list-group-flush" id="{{ node.id }}">
        {% recursetree node.get_children %}
           <a href="{{ node.get_absolute_url }}"><li class="list-group-item">{{ node.name }}</li></a>
        {% endrecursetree %}
         </ul>
    {% endrecursetree %}
</div>


