<div class="card my-4">
<h5 class="card-header">Последние скидки</h5>
<ul class="list-unstyled">
  {% for deal in show_deals %}
  <li class="media m-2">
    <a href="{{ deal.get_absolute_url }}">
        <img class="mr-1" src="{{ deal.deals_image.url }}" height="80" width="80" alt="Скидка на {{ deal.name }}">
    </a>
    <div class="media-body">
      <h6 class="mt-0 mb-1"><a href="{{ deal.get_absolute_url }}">{{ deal.name|truncatechars:45 }}</a></h6>
      <h6 class="price font-16 mb-0 text-success">{{ deal.price }} <i class="fas fa-ruble-sign"></i> <span class="price-sale">{{ deal.old_price }} <i class="fas fa-ruble-sign"></i></span></h6>
    </div>
  </li>
  {% endfor %}
</ul>
</div>