<div class="card my-4">
<h5 class="card-header">Популярные магазины</h5>
<div class="row mx-0">
    {% for shop in show_shops %}
    <div class="col-sm-6 px-0">
        <div class="card sidebar-card d-flex mx-auto align-items-center">
          <a href="{{ shop.get_absolute_url }}">
            <img class="d-block  m-2" src="{% if shop.image_store %}{{ shop.image_store.url }}{% endif %}" width="80" alt="Скидки в {{ shop.title }}">
          </a>
          <div class="card-body p-1">
            <h6 class="card-title m-1"><a href="{{ shop.get_absolute_url }}">{{ shop.title }}</a></h6>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>