{% extends 'base.html' %}

{% block title %}
    Купоны - {{ block.super }}
{% endblock %}

{% block content %}
<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <div class="row row-rl-10 row-tb-20">
                <div class="page-content col-xs-12 col-md-8">


                    <section class="section coupons-area coupons-area-grid">

                        <!-- Page Control -->

                        <!-- End Page Control -->
                        <!-- Row -->
                        <div class="row row-masnory row-tb-20">
                            {% for coupon in posts %}
                            <div class="col-xs-12">
                                <div class="coupon-single panel t-center t-sm-left">
                                    <div class="row row-sm-cell row-tb-0 row-rl-0">
                                        <div class="col-sm-3">
                                            <figure class="p-15">
                                                <img class="store-logo" src="{% if coupon.coupon_image %}
                                                                                {{ coupon.coupon_image.url }}
                                                                                {% else %}
                                                                                {{ coupon.shop.image_store.url }}
                                                                                {% endif %}" alt="">
                                            </figure>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-sm-9">
                                            <div class="panel-body">
                                                <ul class="deal-meta list-inline mb-10">
                                                    <li class="color-muted"><a href="{{ coupon.shop.get_absolute_url }}"><i class="ico lnr lnr-home mr-5"></i>{{ coupon.shop.title }}</a></li>
                                                    <li class="color-blue" data-toggle="tooltip" data-placement="bottom" title="{{ coupon.body }}" ><i class="ico lnr lnr-warning mr-5"></i>Условие</li>
                                                </ul>
                                                <h5 class="deal-title mb-10">{{ coupon.title }}</h5>
                                                <p class="mb-15 color-muted font-12"><i class="lnr lnr-clock mr-10"></i>Годен до {{ coupon.expired|date:"d.m.Y" }}</p>
                                                <div class="showcode">
                                                    <button class="show-code btn btn-sm btn-block" data-toggle="modal" data-target="#{{ coupon.id }}">{{ coupon.coupon_type }}</button>
                                                    <div class="coupon-hide">{{ coupon.promocode }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div>
                                <div class="modal fade get-coupon-area" tabindex="-1" role="dialog" id="{{ coupon.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content panel">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <div class="row row-v-10">
                                                    <div class="col-md-10 col-md-offset-1">
                                                        <img src="{{ coupon.shop.img_single_store.url }}" alt="{{ coupon.title }}">
                                                        <h3 class="mb-20">{{ coupon.title }}</h3>
                                                        <p class="color-mid">{{ coupon.body }}</p>
                                                    </div>
                                                    <div class="col-md-10 col-md-offset-1">
                                                        <a href="{{ coupon.coupon_link }}" class="btn btn-link">Посетить магазин</a>
                                                    </div>
                                                    <div class="col-md-10 col-md-offset-1">

                                                        <h6 class="color-mid t-uppercase">Нажмите ниже чтобы принять участие в акции</h6>
                                                        <a href="{{ coupon.coupon_link }}" target="_blank" class="coupon-code">{{ coupon.promocode }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                        </div>

                        <!-- End Row -->

                        <!-- Page Pagination -->

                        <!-- End Page Pagination -->

                    </section>

                </div>

                <!-- Page Sidebar -->
                <div class="page-sidebar col-md-4 col-xs-12">

                    <!-- Blog Sidebar -->
                    <aside class="sidebar blog-sidebar">
                        <div class="row row-tb-10">
                            <div class="col-xs-12">
                                <!-- Best Rated Deals -->
                                <div class="widget best-rated-deals panel pt-20 prl-20">
                                    <h3 class="widget-title h-title">Best Rated Deals</h3>
                                    <div class="widget-body ptb-30">


                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/images/deals/thumb_01.jpg" alt="Thumb" width="80">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-5">
            <a href="#">Aenean ut orci vel massa</a>
        </h6>
                                                <div class="mb-5">
                                                    <span class="rating">
                <span class="rating-stars" data-rating="4">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span>
                                                    </span>
                                                </div>
                                                <h4 class="price font-16">$60.00 <span class="price-sale color-muted">$200.00</span></h4>
                                            </div>
                                        </div>


                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/images/deals/thumb_02.jpg" alt="Thumb" width="80">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-5">
            <a href="#">Aenean ut orci vel massa</a>
        </h6>
                                                <div class="mb-5">
                                                    <span class="rating">
                <span class="rating-stars" data-rating="4">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span>
                                                    </span>
                                                </div>
                                                <h4 class="price font-16">$60.00 <span class="price-sale color-muted">$200.00</span></h4>
                                            </div>
                                        </div>


                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/images/deals/thumb_03.jpg" alt="Thumb" width="80">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-5">
            <a href="#">Aenean ut orci vel massa</a>
        </h6>
                                                <div class="mb-5">
                                                    <span class="rating">
                <span class="rating-stars" data-rating="4">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span>
                                                    </span>
                                                </div>
                                                <h4 class="price font-16">$60.00 <span class="price-sale color-muted">$200.00</span></h4>
                                            </div>
                                        </div>


                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="assets/images/deals/thumb_04.jpg" alt="Thumb" width="80">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="mb-5">
            <a href="#">Aenean ut orci vel massa</a>
        </h6>
                                                <div class="mb-5">
                                                    <span class="rating">
                <span class="rating-stars" data-rating="4">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span>
                                                    </span>
                                                </div>
                                                <h4 class="price font-16">$60.00 <span class="price-sale color-muted">$200.00</span></h4>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!-- Best Rated Deals -->
                            </div>
                            <div class="col-xs-12">
                                <!-- Trending Stores -->
                                <div class="widget trend-store-widget panel pt-20 prl-20">
                                    <h3 class="widget-title h-title">Trending Stores</h3>
                                    <div class="widget-body ptb-30">


                                        <div class="trend-store-item media">
                                            <div class="post-thumb media-left">
                                                <a href="#">
                                                    <img class="media-object pr-10" width="90" src="assets/images/brands/brand_01.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mb-5">
            <a href="store_single_01.html">Amazon</a>
            <span class="rating">
                <span class="rating-stars" data-rating="4">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span>
            </span>
        </h5>
                                                <p class="color-mid">Upto 70% Rewards Lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>


                                        <div class="trend-store-item media">
                                            <div class="post-thumb media-left">
                                                <a href="#">
                                                    <img class="media-object pr-10" width="90" src="assets/images/brands/brand_02.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mb-5">
            <a href="store_single_01.html">Ashford</a>
            <span class="rating">
                <span class="rating-stars" data-rating="4">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span>
            </span>
        </h5>
                                                <p class="color-mid">Upto 70% Rewards Lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>


                                        <div class="trend-store-item media">
                                            <div class="post-thumb media-left">
                                                <a href="#">
                                                    <img class="media-object pr-10" width="90" src="assets/images/brands/brand_03.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mb-5">
            <a href="store_single_01.html">DELL</a>
            <span class="rating">
                <span class="rating-stars" data-rating="4">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span>
            </span>
        </h5>
                                                <p class="color-mid">Upto 70% Rewards Lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!-- End Trending Stores -->
                            </div>
                        </div>
                    </aside>
                    <!-- End Blog Sidebar -->
                </div>
                <!-- End Page Sidebar -->
            </div>
        </div>
    </div>


</main>
<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->
{% endblock %}
