{% extends 'base.html' %}
{% load shop_tags %}

{% block title %}
    Купоны - {{ block.super }}
{% endblock %}

{% block content %}

<div class="container">

  <!-- row blog -->
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 col-sm-12">

      <h1 class="my-4">Список всех купонов и акции</h1>

      <div class="row">
      <!-- Blog Post -->
{% for coupon in posts %}
      <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">

            <figure class="figure-img d-flex mx-auto align-items-center mt-3" style="height: 150px">
            <img class="py-1 d-block img-fluid" src="{% if coupon.shop.image_store %}
                                                     {{ coupon.shop.image_store.url }}
                                                     {% endif %}" alt="Промокод {{ coupon.title }}" style="width: 150px; height: 150px">
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">{{ coupon.title }}</h4>
              <p class="text-center mt-2 mb-0">Годен до {{ coupon.expired|date:"d.m.Y" }}</p>
            </div>
              <a href="{{ coupon.shop.get_absolute_url }}" class="text-center mb-1">{{ coupon.shop.title }}</a>
              <a href="#" class="btn btn-coupon btn-block card-footer text-white" data-toggle="modal" data-target="#{{ coupon.id }}">
                  УЗНАТЬ ПРОМОКОД <i class="fas fa-angle-right"></i>
              </a>
          </div>
        </div>

        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="{{ coupon.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>
              <div class="modal-body">
              <div class="row">
                  <div class="col-md-12 align-content-center">

                      <img class="py-2 d-block mx-auto align-items-center img-fluid" src="{% if coupon.shop.image_store %}
                                                                                          {{ coupon.shop.image_store.url }}
                                                                                          {% endif %}" alt="Промокод {{ coupon.title }}">

                      <h3 class="text-center">{{ coupon.title }}</h3>
                      <p class="text-center">{{ coupon.body }}</p>
                        <p class="text-center mt-2 mb-2">Годен до {{ coupon.expired|date:"d.m.Y" }}</p>
                      <div class="input-group mb-3">
                        <input id="myInput" type="text" class="form-control text-center" value="{{ coupon.promocode }}" aria-describedby="promocode">

                        <div class="input-group-append">
                          <button id="copy-button" class="btn btn-outline-secondary" type="button" onclick="myFunction()">
                            <i class="fas fa-copy"></i>
                          </button>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <a href="{{ coupon.coupon_link }}" class="btn d-block" target="_blank" style="color: #ffffff">Посетить магазин</a>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


        <!-- row blog end -->
        </div>

          <!-- Pagination -->
          {% include 'pagination.html' %}
    </div>


    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 col-xs-12">

      <!-- Categories Widget -->
        {% show_deal_category %}


      <!-- Side deals Widget -->
        {% show_last_deals %}
      <!-- Side deals Widget end -->

      <!-- Side shops Widget -->
        {% trending_stores %}
      <!-- Side shops Widget end -->

    </div>

  </div>
  <!-- /.row -->

</div>
{%  endblock %}
