<div class="card my-4">
    <h5 class="card-header">Последние записи</h5>
    <ul class="list-unstyled">
    {% for post in latest_posts %}
      <li class="media m-1">
        <img class="mr-1" src="{% if post.image %}{{ post.image_sidebar_blog.url }}{% endif %}" alt="Скидка {{ post.title }}" width="80" >
        <div class="media-body">
            <a href="{{ post.get_absolute_url }}"> <h5 class="mt-0 mb-1">{{ post.title }}</h5></a>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>