{% load blog_tags %}
<div class="col-md-4 col-xs-12">
  <!-- Search Widget -->
  <div class="card my-4">
    <div class="card-body">
    <form method="get" action="{% url 'blog:search' %}">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Поиск по блогу">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
            </span>
        </div>
    </form>
    </div>
  </div>

  <!-- Categories Widget -->
  {% show_categorys %}

  <!-- Side blog_post Widget -->
  {% show_latest_posts 5 %}
  <!-- Side blog_post Widget end -->

  <!-- Side Tags Widget -->
  {% show_tags %}
  <!-- Side tags Widget end -->

  <!-- Side deals Widget -->
  {% show_last_deals 5 %}
  <!-- Side deals Widget end -->

  <!-- Side shops Widget -->
  {% trending_stores 10 %}
  <!-- Side shops Widget end -->

</div>