{% extends 'base.html' %}
{% block title %}
    {{ shop.title|capfirst }} - {{ block.super }}
{% endblock %}
{% block content %}
<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
<main id="mainContent" class="main-content">
    <!-- Page Container -->
    <div class="page-container ptb-60">
        <div class="container">
            <div class="row row-rl-10 row-tb-20">
                <div class="page-sidebar col-sm-4 col-md-3">
                    <aside class="store-header-area panel t-center">
                        <div class="row">
                            <div class="col-xs-12">
                                <figure class="pt-10 pl-10">
                                    <img src="{% if shop.image_store %}{{ shop.image_store.url }}{% endif %}" alt="Скидки магазина {{ shop.title }}">
                                </figure>
                            </div>
                            <div class="col-xs-12">
                                <div class="store-about ptb-30 prl-10">
                                    <h3 class="mb-10">{{ shop.title }}</h3>
                                    <p class="mb-15">{{ shop.content|safe }}</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="store-splitter-left">
                                    <header class="left-splitter-header prl-10 ptb-20 bg-lighter">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <h2>{{ deals_count }}</h2>
                                                <p>Скидок</p>
                                            </div>
                                            <div class="col-xs-6">
                                                <h2>{{ count_sum_coupons }}</h2>
                                                <p>Купонов</p>
                                            </div>
                                        </div>
                                    </header>
                                    <footer class="left-splitter-social prl-20 ptb-20">
                                        <ul class="list-inline social-icons social-icons--colored t-center">
                                            <li class="social-icons__item">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li class="social-icons__item">
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li class="social-icons__item">
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li class="social-icons__item">
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="page-content col-sm-8 col-md-9">

                    <!-- Store Tabs Area -->
                    <div class="section store-tabs-area">
                        <div class="tabs tabs-v1">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs panel" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#deals" aria-controls="deals" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-comment mr-10"></i>Скидки</a>
                                </li>
                                <li role="presentation">
                                    <a href="#coupons" aria-controls="coupons" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-star mr-10"></i>Купоны</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane ptb-20 active" id="deals">
                                    <section class="section deals-area">
                                        <div class="row row-masnory row-tb-20 ">
                                            {% for deal in posts %}
                                            <div class="col-sm-6 col-lg-6">
                                                <div class="deal-single panel">
                                                    <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="{{ deal.deals_grid_image.url }}">
                                                        <div class="label-discount left-20 top-15">-50%</div>
                                                        <div class="deal-store-logo">
                                                            <img src="{{ deal.shop.image_store.url }}" alt="">
                                                        </div>
                                                    </figure>
                                                    <div class="bg-white pt-20 pl-20 pr-15">
                                                        <div class="pr-md-10">
                                                            <h3 class="deal-title mb-10">
                                                    <a href="{{ deal.get_absolute_url }}">{{ deal.name }}</a>
                                                </h3>
                                                            <ul class="deal-meta list-inline mb-10 color-mid">
                                                                <li><i class="ico fa fa-barcode mr-10"></i>{{ deal.vendor }}</li>
                                                                <li><i class="ico fa fa-tag mr-10"></i><a href="{{ deal.categoryId.get_absolute_url }}" class="color-mid">{{ deal.categoryId.name }}</a></li>
                                                            </ul>
                                                            <p class="text-muted mb-20">{{ deal.description|safe|truncatechars:155}}</p>
                                                        </div>
                                                        <div class="deal-price pos-r mb-15">
                                                            <h3 class="price ptb-5 text-right"><span class="price-sale">{{ deal.old_price }} <i class="ico fa fa-ruble"></i></span>{{ deal.price }} <i class="ico fa fa-ruble"></i></h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </section>
                                </div>
                                <div role="tabpanel" class="tab-pane ptb-20" id="coupons">
                                    <section class="section coupons-area coupons-area-grid">
                                        <div class="row row-masnory row-tb-20">
                            {% for coupon in coupons %}
                            <div class="col-xs-12">
                                <div class="coupon-single panel t-center t-sm-left">
                                    <div class="row row-sm-cell row-tb-0 row-rl-0">
                                        <div class="col-sm-3">
                                            <figure class="p-15">
                                                <img class="store-logo" src="{% if coupon.coupon_image %}
                                                                                {{ coupon.coupon_image.url }}
                                                                                {% else %}
                                                                                {{ coupon.shop.image_store.url }}
                                                                                {% endif %}" alt="">
                                            </figure>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-sm-9">
                                            <div class="panel-body">
                                                <ul class="deal-meta list-inline mb-10">
                                                    <li class="color-muted"><i class="ico fa fa-cart-plus mr-10" ></i>{{ coupon.shop.title }}</li>
                                                    <li class="color-blue" data-toggle="tooltip" data-placement="bottom" title="{{ coupon.body }}" ><i class="ico fa fa-info mr-10"></i>Условие</li>
                                                </ul>
                                                <h5 class="deal-title mb-10">{{ coupon.title }}</h5>
                                                <p class="mb-15 color-muted font-12"><i class="lnr lnr-clock mr-10"></i>Годен до {{ coupon.expired|date:"d.m.Y" }}</p>
                                                <div class="showcode">
                                                    <button class="show-code btn btn-sm btn-block" data-toggle="modal" data-target="#{{ coupon.id }}">{{ coupon.coupon_type }}</button>
                                                    <div class="coupon-hide">{{ coupon.promocode }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div>
                                <div class="modal fade get-coupon-area" tabindex="-1" role="dialog" id="{{ coupon.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content panel">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <div class="row row-v-10">
                                                    <div class="col-md-10 col-md-offset-1">
                                                        <img src="{{ coupon.shop.img_single_store.url }}" alt="">
                                                        <h3 class="mb-20">{{ coupon.title }}</h3>
                                                        <p class="color-mid">{{ coupon.body }}</p>
                                                    </div>
                                                    <div class="col-md-10 col-md-offset-1">
                                                        <a href="{{ coupon.coupon_link }}" class="btn btn-link">Посетить магазин</a>
                                                    </div>
                                                    <div class="col-md-10 col-md-offset-1">
                                                        <h6 class="color-mid t-uppercase">Нажмите ниже чтобы принять участие в акции</h6>
                                                        <a href="{{ coupon.coupon_link }}" target="_blank" class="coupon-code">{{ coupon.promocode }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                        </div>

                                        <!-- Page Pagination -->
                                    {% if posts.has_other_pages %}
                                        {% include 'pagination.html' %}
                                        <!-- End Page Pagination -->
                                    {% endif %}
                                    </section>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End Store Tabs Area -->

                </div>
            </div>
        </div>
    </div>
    <!-- End Page Container -->


</main>
<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->
{% endblock %}