{% extends 'base.html' %}
{% block title %}
    Блог - {{ block.super }}
{% endblock %}
{% block content %}
<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
<main id="mainContent" class="main-content">
    <!-- Page Container -->
    <div class="page-container ptb-60">
        <div class="container">
            <div class="row row-rl-10 row-tb-20">
                <div class="page-sidebar col-sm-4 col-md-3">
                    <aside class="store-header-area panel t-center">
                        <div class="row">
                            <div class="col-xs-12">
                                <figure class="pt-10 pl-10">
                                    <img src="{% if shop.image %}{{ shop.image_store.url }}{% endif %}" alt="Скидки магазина {{ shop.title }}" alt="Скидки в магазине {{ shop.title }}">
                                </figure>
                            </div>
                            <div class="col-xs-12">
                                <div class="store-about ptb-30 prl-10">
                                    <h3 class="mb-10">{{ shop.title }}</h3>
                                    <div class="rating mb-10">
                                        <span class="rating-stars rate-allow" data-rating="3">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o star-active"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </span>
                                        <span class="rating-reviews">
                                ( <span class="rating-count">205</span> rates )
                                        </span>
                                    </div>
                                    <p class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio officiis at accusantium ducimus excepturi cumque ad commodi libero nihil rem voluptatibus veniam ipsa ullam esse quia quae fuga, quidem iusto.</p>
                                    <button class="btn btn-info">FOLLOW</button>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="store-splitter-left">
                                    <header class="left-splitter-header prl-10 ptb-20 bg-lighter">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <h2>282</h2>
                                                <p>Deals</p>
                                            </div>
                                            <div class="col-xs-6">
                                                <h2>122</h2>
                                                <p>Coupons</p>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="left-splitter-body prl-20 ptb-20">
                                        <div class="row row-rl-10 row-tb-10">
                                            <div class="col-md-6 col-sm-4 col-xs-6">
                                                <img src="assets/images/products/thumb_01.jpg" alt="">
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-6">
                                                <img src="assets/images/products/thumb_02.jpg" alt="">
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-6">
                                                <img src="assets/images/products/thumb_03.jpg" alt="">
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-xs-6">
                                                <img src="assets/images/products/thumb_04.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="left-splitter-social prl-20 ptb-20">
                                        <ul class="list-inline social-icons social-icons--colored t-center">
                                            <li class="social-icons__item">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li class="social-icons__item">
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li class="social-icons__item">
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li class="social-icons__item">
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="page-content col-sm-8 col-md-9">

                    <!-- Store Tabs Area -->
                    <div class="section store-tabs-area">
                        <div class="tabs tabs-v1">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs panel" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#deals" aria-controls="deals" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-comment mr-10"></i>Скидки</a>
                                </li>
                                <li role="presentation">
                                    <a href="#coupons" aria-controls="coupons" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-star mr-10"></i>Купоны</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-user mr-10"></i>Reviews</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane ptb-20 active" id="deals">
                                    <section class="section deals-area">
                                        <div class="row row-masnory row-tb-20">
                                            <div class="col-sm-12 col-lg-6">
                                                <div class="deal-single panel">
                                                    <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="assets/images/deals/deal_01.jpg">
                                                        <div class="label-discount left-20 top-15">-50%</div>
                                                        <ul class="deal-actions top-15 right-20">
                                                            <li class="like-deal">
                                                                <span>
                                                    <i class="fa fa-heart"></i>
                                                </span>
                                                            </li>
                                                            <li class="share-btn">
                                                                <div class="share-tooltip fade">
                                                                    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                                                    <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                                                    <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                                                                </div>
                                                                <span><i class="fa fa-share-alt"></i></span>
                                                            </li>
                                                            <li>
                                                                <span>
                                                    <i class="fa fa-camera"></i>
                                                </span>
                                                            </li>
                                                        </ul>
                                                        <div class="time-left bottom-15 right-20 font-md-14">
                                                            <span>
                                                <i class="ico fa fa-clock-o mr-10"></i>
                                                <span class="t-uppercase" data-countdown="2019/09/01 01:30:00"></span>
                                            </span>
                                                        </div>
                                                        <div class="deal-store-logo">
                                                            <img src="assets/images/brands/brand_01.jpg" alt="">
                                                        </div>
                                                    </figure>
                                                    <div class="bg-white pt-20 pl-20 pr-15">
                                                        <div class="pr-md-10">
                                                            <div class="rating mb-10">
                                                                <span class="rating-stars rate-allow" data-rating="5">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </span>
                                                                <span class="rating-reviews">
                                                    ( <span class="rating-count">241</span> rates )
                                                                </span>
                                                            </div>
                                                            <h3 class="deal-title mb-10">
                                                <a href="deal_single.html">The Crash Bad Instant Folding Twin Bed</a>
                                            </h3>
                                                            <ul class="deal-meta list-inline mb-10 color-mid">
                                                                <li><i class="ico fa fa-map-marker mr-10"></i>United State</li>
                                                                <li><i class="ico fa fa-shopping-basket mr-10"></i>120 Bought</li>
                                                            </ul>
                                                            <p class="text-muted mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum.</p>
                                                        </div>
                                                        <div class="deal-price pos-r mb-15">
                                                            <h3 class="price ptb-5 text-right"><span class="price-sale">$300.00</span>$150.00</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div role="tabpanel" class="tab-pane ptb-20" id="coupons">
                                    <section class="section coupons-area coupons-area-grid">
                                        <div class="row row-masnory row-tb-20">
                            {% for coupon in posts %}
                            <div class="col-xs-12">
                                <div class="coupon-single panel t-center t-sm-left">
                                    <div class="row row-sm-cell row-tb-0 row-rl-0">
                                        <div class="col-sm-5">
                                            <figure class="p-15">
                                                <img class="store-logo" src="{% if coupon.coupon_image %}
                                                                                {{ coupon.coupon_image.url }}
                                                                                {% else %}
                                                                                {{ coupon.shop.image_store.url }}
                                                                                {% endif %}" alt="">
                                            </figure>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-sm-7">
                                            <div class="panel-body">
                                                <ul class="deal-meta list-inline mb-10">
                                                    <li class="color-muted"><a href="{{ coupon.shop.get_absolute_url }}"><i class="ico lnr lnr-home mr-5"></i>{{ coupon.shop.title }}</a></li>
                                                    <li class="color-blue" data-toggle="tooltip" data-placement="bottom" title="{{ coupon.body }}" ><i class="ico lnr lnr-warning mr-5"></i>Условие</li>
                                                </ul>
                                                <h5 class="deal-title mb-10">{{ coupon.title }}</h5>
                                                <p class="mb-15 color-muted font-12"><i class="lnr lnr-clock mr-10"></i>Годен до {{ coupon.expired|date:"d.m.Y" }}</p>
                                                <div class="showcode">
                                                    <button class="show-code btn btn-sm btn-block" data-toggle="modal" data-target="#{{ coupon.id }}">{{ coupon.coupon_type }}</button>
                                                    <div class="coupon-hide">{{ coupon.promocode }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div>
                                <div class="modal fade get-coupon-area" tabindex="-1" role="dialog" id="{{ coupon.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content panel">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                                </button>
                                                <div class="row row-v-10">
                                                    <div class="col-md-10 col-md-offset-1">
                                                        <img src="{{ coupon.shop.img_single_store.url }}" alt="">
                                                        <h3 class="mb-20">{{ coupon.title }}</h3>
                                                        <p class="color-mid">{{ coupon.body }}</p>
                                                    </div>
                                                    <div class="col-md-10 col-md-offset-1">
                                                        <a href="{{ coupon.coupon_link }}" class="btn btn-link">Посетить магазин</a>
                                                    </div>
                                                    <div class="col-md-10 col-md-offset-1">
                                                        <h6 class="color-mid t-uppercase">Нажмите ниже чтобы принять участие в акции</h6>
                                                        <a href="{{ coupon.coupon_link }}" target="_blank" class="coupon-code">{{ coupon.promocode }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        {% endfor %}
                        </div>

                                        <!-- Page Pagination -->
                                    {% if posts.paginator.count > 1 %}
                                        {% include 'pagination.html' %}
                                        <!-- End Page Pagination -->
                                    {% endif %}
                                    </section>
                                </div>
                                <div role="tabpanel" class="tab-pane ptb-20" id="reviews">
                                    <div class="posted-review panel p-30">
                                        <h3 class="h-title">16 Review</h3>
                                        <div class="review-single pt-30">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="media-object mr-10 radius-4" src="assets/images/avatars/avatar_01.jpg" width="90" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="review-wrapper clearfix">
                                                        <ul class="list-inline">
                                                            <li>
                                                                <span class="review-holder-name h5">John Doe</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <span class="rating-stars" data-rating="5">
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <p class="review-date mb-5">September 9, 2016</p>
                                                        <p class="copy">Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-single pt-30">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="media-object mr-10 radius-4" src="assets/images/avatars/avatar_02.jpg" width="90" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="review-wrapper clearfix">
                                                        <ul class="list-inline">
                                                            <li>
                                                                <span class="review-holder-name h5">John Doe</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <span class="rating-stars" data-rating="2">
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <p class="review-date mb-5">September 9, 2016</p>
                                                        <p class="copy">Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-single pt-30">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="media-object mr-10 radius-4" src="assets/images/avatars/avatar_03.jpg" width="90" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="review-wrapper clearfix">
                                                        <ul class="list-inline">
                                                            <li>
                                                                <span class="review-holder-name h5">John Doe</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <span class="rating-stars" data-rating="3">
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <p class="review-date mb-5">September 9, 2016</p>
                                                        <p class="copy">Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-single pt-30">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="media-object mr-10 radius-4" src="assets/images/avatars/avatar_04.jpg" width="90" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="review-wrapper clearfix">
                                                        <ul class="list-inline">
                                                            <li>
                                                                <span class="review-holder-name h5">John Doe</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <span class="rating-stars" data-rating="4">
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <p class="review-date mb-5">September 9, 2016</p>
                                                        <p class="copy">Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-single pt-30">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img class="media-object mr-10 radius-4" src="assets/images/avatars/avatar_05.jpg" width="90" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <div class="review-wrapper clearfix">
                                                        <ul class="list-inline">
                                                            <li>
                                                                <span class="review-holder-name h5">John Doe</span>
                                                            </li>
                                                            <li>
                                                                <div class="rating">
                                                                    <span class="rating-stars" data-rating="5">
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <i class="fa fa-star-o"></i>
                                                        </span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <p class="review-date mb-5">September 9, 2016</p>
                                                        <p class="copy">Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Store Tabs Area -->

                </div>
            </div>
        </div>
    </div>
    <!-- End Page Container -->


</main>
<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->
{% endblock %}