{% extends 'base.html' %}
{% block title %}
    {{ shop.title|capfirst }} - {{ block.super }}
{% endblock %}
{% block description %}
    {{ shop.content|safe|truncatechars:325|striptags }}
{% endblock %}
{% block content %}
<div class="container">

  <!-- row blog -->
  <div class="row">

    <div class="col-lg-3">
      <div class="card my-4">
        <div class="card-body">
            <figure class="figure-img d-flex mx-auto justify-content-center mt-3" >
                <img class="py-1 d-block img-fluid" src="{% if shop.image_store %}{{ shop.image_store.url }}{% endif %}" alt="Скидки магазина {{ shop.title }}" height="200">
            </figure>
                <div class="store-about text-center mt-3">
                    <h3 class="mb-1">{{ shop.title }}</h3>
                    {% if shop.content %}
                    <p class="mb-15">{{ shop.content|safe }}</p>
                    {% endif %}
                </div>
            <div class="row text-center mt-3">
                <div class="col-sm-6">
                    <h3 class="text-muted">{{ deals_count }}</h3>
                    <p>Скидок</p>
                </div>
                <div class="col-sm-6">
                    <h3 class="text-muted">{{ count_sum_coupons }}</h3>
                    <p>Купонов</p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="card mt-4 mb-3">
        <div class="card-body p-2">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Скидки</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Купоны</a>
              </li>
            </ul>
        </div>
      </div>

      <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="row">
                  {% for deal in posts %}
                      <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card h-100">

                            <figure class="figure-img d-flex mx-auto align-items-center mt-3" style="height: 200px">
                            <a href="{{ deal.url }}"><img class="py-1 d-block img-fluid" src="{% if deal.deals_grid_image %}{{ deal.deals_grid_image.url }}{% endif %}" alt="Скидка на {{ deal.name }}"></a>
                            </figure>
                            <h6 class="price p-2 mb-0 text-center text-success"> {{ deal.price }} <i class="fas fa-ruble-sign"></i> / <span class="price-sale">{{ deal.old_price }} <i class="fas fa-ruble-sign"></i></span></h6>
                            <div class="card-body p-2">
                              <h4 class="card-title text-center mb-0">
                                <a href="{{ deal.get_absolute_url }}">{{ deal.name|truncatechars:55 }}</a>
                              </h4>
                            </div>
                              <a href="{{ deal.shop.get_absolute_url }}" class="text-center mb-1"><small>от</small> {{ deal.shop.title }}</a>
                              <a href="{{ deal.url }}" target="_blank" class="btn btn-block card-footer text-white" >
                                  В Магазин
                              </a>
                          </div>
                      </div>
                  {% endfor %}


              </div>
          {% include 'pagination.html' %}
          </div>
        <!-- coupon section -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="row">
                  {% for coupon in coupons %}
      <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">

            <figure class="figure-img d-flex mx-auto align-items-center mt-3" style="height: 150px">
            <img class="py-1 d-block img-fluid" src="{% if coupon.shop.image_store %}
                                                     {{ coupon.shop.image_store.url }}
                                                     {% endif %}" alt="Промокод {{ coupon.title }}" style="width: 150px; height: 150px">
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">{{ coupon.title }}</h4>
              <p class="text-center mt-2 mb-0">Годен до {{ coupon.expired|date:"d.m.Y" }}</p>
            </div>
              <a href="{{ coupon.shop.get_absolute_url }}" class="text-center mb-1">{{ coupon.shop.title }}</a>
              <a href="#" class="btn btn-coupon btn-block card-footer text-white" data-toggle="modal" data-target="#{{ coupon.id }}">
                  УЗНАТЬ ПРОМОКОД <i class="fas fa-angle-right"></i>
              </a>
          </div>
        </div>

        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="{{ coupon.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>
              <div class="modal-body">
              <div class="row">
                  <div class="col-md-12 align-content-center">

                      <img class="py-2 d-block mx-auto align-items-center img-fluid" src="{% if coupon.shop.image_store %}
                                                                                          {{ coupon.shop.image_store.url }}
                                                                                          {% endif %}" alt="Промокод {{ coupon.title }}">

                      <h3 class="text-center">{{ coupon.title }}</h3>
                      <p class="text-center">{{ coupon.body }}</p>
                        <p class="text-center mt-2 mb-2">Годен до {{ coupon.expired|date:"d.m.Y" }}</p>
                      <div class="input-group mb-3">
                        <input id="myInput" type="text" class="form-control text-center" value="{{ coupon.promocode }}" aria-describedby="promocode">

                        <div class="input-group-append">
                          <button id="copy-button" class="btn btn-outline-secondary" type="button" onclick="myFunction()">
                            <i class="fas fa-copy"></i>
                          </button>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <a href="{{ coupon.coupon_link }}" class="btn d-block" target="_blank" style="color: #ffffff">Посетить магазин</a>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
              </div>
        </div>

        </div>

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
{% endblock %}