{% extends 'base.html' %}

{% block title %}
    Магазин - {{ block.super }}
{% endblock %}

{% block content %}
<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
<main id="mainContent" class="main-content">
    <!-- Page Container -->
    <div class="page-container ptb-60">
        <div class="container">
            <section class="stores-area stores-area-v1">
                <h3 class="mb-40 t-uppercase">Все магазины со скидками</h3>
                <div class="row row-rl-15 row-tb-15 t-center">
                {% for store in posts %}
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                        <a href="{{ store.get_absolute_url }}" class="panel is-block">
                            <div class="embed-responsive embed-responsive-4by3">
                                <div class="store-logo">
                                    <img src="{% if store.image %}{{ store.image_store.url }}{% endif %}" alt="{{ store.title }}">
                                </div>
                            </div>
                            <h6 class="store-name ptb-10">{{ store.title }}</h6>
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% include 'pagination.html' %}
            </section>
        </div>
    </div>
    <!-- End Page Container -->
</main>
{% endblock %}