{% extends 'base.html' %}

{% block title %}
    Магазины - {{ block.super }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Все магазины со скидками</h1>
    <!-- row blog -->
        <div class="row mt-2">
{% for store in posts %}
          <div class="col-lg-2 col-md-4 mb-4 ">

          <div class="card">
            <figure class="figure-img d-flex mx-auto align-items-center mt-3" style="height: 100px">
            <a href="{{ store.get_absolute_url }}"><img class="py-1 d-block img-fluid" src="{% if store.image_store %}{{ store.image_store.url }}{% endif %}" alt="Скидки в магазине {{ store.title }}" width="100"></a>
            </figure>
            <a href="{{ store.get_absolute_url }}" class="text-center">
              <div class="card-footer"><h6>{{ store.title }}</h6></div>
            </a>
          </div>

        </div>
{% endfor %}
        {% include 'pagination.html' %}
        </div>

    <!--/.row -->
    </div>
{% endblock %}