{% extends 'base.html' %}

{% block title %}
    {{ post.title|capfirst }} - {{ block.super }}
{% endblock %}
{% block description %}
    {{ post.body|safe|truncatechars:325|striptags }}
{% endblock %}

{% block content %}

<div class="container">

      <!-- row blog -->
      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <article class="blog_single">
          <!-- Title -->
          <h1 class="mt-2">{{ post.title }}</h1>

          <!-- Date/Time -->
          <div class="entry-meta">
                    <ul class="tag-info list-inline">
                        <li><i class="fas fa-calendar"></i> {{ post.publish|date:"d.m.Y" }}</li>
                        <li><i class="fas fa-tag"></i>
                            <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
                        </li>
                    </ul>
                </div>

          <hr>
            <figure class="figure-img d-flex mx-auto justify-content-center mt-3">
            <a href="#"><img class="py-1 d-block img-fluid" src="{% if post.image %}{{ post.image_detail_blog.url }}{% endif %}" alt="{{ post.title }}"></a>
            </figure>
          <!-- Preview Image -->

          <hr>
              {{ post.body|safe }}
          <hr>
              <footer class="entry-footer">
                <div class="blog-post-tags">
                    <ul>
                        <li>Теги :</li>
                                {% for tag in post.tags.all %}
                                <li>
                                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                                </li>
                                {% endfor %}
                    </ul>
                </div>
            </footer>
          <hr class="mb-0">

        </article>
        </div>

        <!-- Sidebar Widgets Column -->
        {% include 'blog/sidebar/sidebar.html' %}

      </div>
      <!-- /.row -->

    </div>
{% endblock %}