{% extends 'base.html' %}

{% block title %}
    Блог - {{ block.super }}
{% endblock %}

{% block content %}
<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
<div class="container">

      <!-- row blog -->
      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 col-sm-12">

          <h1 class="my-4">Результаты поиска по запросу - "{{ q }}"</h1>

          <div class="row">
          <!-- Blog Post -->
          {% for post in posts %}
          <div class="col-lg-6 col-md-6 mb-4">
              <div class="card h-100">

                <figure class="figure-img d-flex mx-auto align-items-center">
                <a href="{{ post.get_absolute_url }}"><img class="pt-0 d-block img-fluid" src="{% if post.image_list_blog %}{{ post.image_list_blog.url }}{% endif %}" alt="{{ post.title }}" height="230"></a>
                </figure>
                <div class="card-body p-3">
                  <h4 class="card-title mb-1">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                  </h4>
                  <div class="entry-meta">
                        <ul class="tag-info list-inline mb-1">
                            <li class="pl-0"><i class="fas fa-calendar"></i> {{ post.publish|date:"d.m.Y" }}</li>
                            <li class="pl-0"><i class="fas fa-tag"></i>
                                <a href="{{ post.category.get_absolute_url }}"> {{ post.category.name }}</a>
                            </li>
                        </ul>
                    </div>
                <p class="card-text">{{ post.body|safe|truncatechars:140 }}</p>
                </div>
              </div>
            </div>
           {% endfor %}

        <!-- row blog end -->
        </div>

          <!-- Pagination -->
          {% include 'pagination.html' %}
          </div>

      <!-- Blog Sidebar -->
                {% include 'blog/sidebar/sidebar.html' %}
          <!-- End Blog Sidebar -->


      </div>
      <!-- /.row -->

    </div>
<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->
{% endblock %}
