{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->

<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="error-template text-center mt-5">
            <h1>
                Ой!!!</h1>
            <h2>
                404
            </h2>
            <div class="error-details">
                Виноват! Страница, которую вы ищете, не найдена!
            </div>
            <div class="error-actions mb-5 mt-3">
                <a href="{% url 'Home' %}" class="btn btn-success btn-lg">
                    Вернуться на главную страницу </a>
            </div>
        </div>
    </div>
</div>
</div>

<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->
{% endblock %}