{% extends 'base.html' %}
{% block content %}

<!-- –––––––––––––––[ PAGE CONTENT ]––––––––––––––– -->
<main id="mainContent" class="main-content">
    <div class="page-container ptb-10">
        <div class="container">
            <div class="section explain-process-area ptb-30">
                <div class="row row-rl-10">
                    <div class="col-md-4">
                        <div class="item panel prl-15 ptb-20">
                            <div class="row row-rl-5 row-xs-cell">
                                <div class="col-xs-4 valign-middle">
                                    <img class="pr-10" src="assets/images/icons/tablet.png" alt="">
                                </div>
                                <div class="col-xs-8">
                                    <h5 class="mb-10 pt-5">Deals & Coupons</h5>
                                    <p class="color-mid">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aspernatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item panel prl-15 ptb-20">
                            <div class="row row-rl-5 row-xs-cell">
                                <div class="col-xs-4 valign-middle">
                                    <img class="pr-10" src="assets/images/icons/online-shop-6.png" alt="">
                                </div>
                                <div class="col-xs-8">
                                    <h5 class="mb-10 pt-5">Find Best Offers</h5>
                                    <p class="color-mid">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aspernatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="item panel prl-15 ptb-20">
                            <div class="row row-rl-5 row-xs-cell">
                                <div class="col-xs-4 valign-middle">
                                    <img class="pr-10" src="assets/images/icons/money.png" alt="">
                                </div>
                                <div class="col-xs-8">
                                    <h5 class="mb-10 pt-5">Save Money</h5>
                                    <p class="color-mid">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aspernatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="section latest-deals-area ptb-30">
                <header class="panel ptb-15 prl-20 pos-r mb-30">
                    <h3 class="section-title font-18">Latest Deals</h3>
                    <a class="btn btn-o btn-xs pos-a right-10 pos-tb-center">View All</a>
                </header>

                <div class="row row-masnory row-tb-20">
                    <div class="col-sm-6 col-lg-4">
                        <div class="deal-single panel">
                            <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="assets/images/deals/deal_01.jpg">
                                <div class="label-discount left-20 top-15">-50%</div>
                                <ul class="deal-actions top-15 right-20">
                                    <li class="like-deal">
                                        <span>
                        <i class="fa fa-heart"></i>
                    </span>
                                    </li>
                                    <li class="share-btn">
                                        <div class="share-tooltip fade">
                                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        <span><i class="fa fa-share-alt"></i></span>
                                    </li>
                                    <li>
                                        <span>
                        <i class="fa fa-camera"></i>
                    </span>
                                    </li>
                                </ul>
                                <div class="time-left bottom-15 right-20 font-md-14">
                                    <span>
                    <i class="ico fa fa-clock-o mr-10"></i>
                    <span class="t-uppercase" data-countdown="2019/09/01 01:30:00"></span>
                </span>
                                </div>
                                <div class="deal-store-logo">
                                    <img src="assets/images/brands/brand_01.jpg" alt="">
                                </div>
                            </figure>
                            <div class="bg-white pt-20 pl-20 pr-15">
                                <div class="pr-md-10">
                                    <div class="rating mb-10">
                                        <span class="rating-stars rate-allow" data-rating="5">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                        <span class="rating-reviews">
                        ( <span class="rating-count">241</span> rates )
                                        </span>
                                    </div>
                                    <h3 class="deal-title mb-10">
                    <a href="deal_single.html">The Crash Bad Instant Folding Twin Bed</a>
                </h3>
                                    <ul class="deal-meta list-inline mb-10 color-mid">
                                        <li><i class="ico fa fa-map-marker mr-10"></i>United State</li>
                                        <li><i class="ico fa fa-shopping-basket mr-10"></i>120 Bought</li>
                                    </ul>
                                    <p class="text-muted mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum.</p>
                                </div>
                                <div class="deal-price pos-r mb-15">
                                    <h3 class="price ptb-5 text-right"><span class="price-sale">$300.00</span>$150.00</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="deal-single panel">
                            <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="assets/images/deals/deal_02.jpg">
                                <div class="label-discount left-20 top-15">-30%</div>
                                <ul class="deal-actions top-15 right-20">
                                    <li class="like-deal">
                                        <span>
                        <i class="fa fa-heart"></i>
                    </span>
                                    </li>
                                    <li class="share-btn">
                                        <div class="share-tooltip fade">
                                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        <span><i class="fa fa-share-alt"></i></span>
                                    </li>
                                    <li>
                                        <span>
                        <i class="fa fa-camera"></i>
                    </span>
                                    </li>
                                </ul>
                                <div class="time-left bottom-15 right-20 font-md-14">
                                    <span>
                    <i class="ico fa fa-clock-o mr-10"></i>
                    <span class="t-uppercase" data-countdown="2020/10/10 12:25:10"></span>
                </span>
                                </div>
                                <div class="deal-store-logo">
                                    <img src="assets/images/brands/brand_02.jpg" alt="">
                                </div>
                            </figure>
                            <div class="bg-white pt-20 pl-20 pr-15">
                                <div class="pr-md-10">
                                    <div class="rating mb-10">
                                        <span class="rating-stars rate-allow" data-rating="3">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                        <span class="rating-reviews">
                        ( <span class="rating-count">132</span> rates )
                                        </span>
                                    </div>
                                    <h3 class="deal-title mb-10">
                    <a href="deal_single.html">Western Digital USB 3.0 Hard Drives</a>
                </h3>
                                    <ul class="deal-meta list-inline mb-10 color-mid">
                                        <li><i class="ico fa fa-map-marker mr-10"></i>United Kingdom</li>
                                        <li><i class="ico fa fa-shopping-basket mr-10"></i>42 Bought</li>
                                    </ul>
                                    <p class="text-muted mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum.</p>
                                </div>
                                <div class="deal-price pos-r mb-15">
                                    <h3 class="price ptb-5 text-right"><span class="price-sale">$150.00</span>$100.00</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="deal-single panel">
                            <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="assets/images/deals/deal_03.jpg">
                                <div class="label-discount left-20 top-15">-30%</div>
                                <ul class="deal-actions top-15 right-20">
                                    <li class="like-deal">
                                        <span>
                        <i class="fa fa-heart"></i>
                    </span>
                                    </li>
                                    <li class="share-btn">
                                        <div class="share-tooltip fade">
                                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        <span><i class="fa fa-share-alt"></i></span>
                                    </li>
                                    <li>
                                        <span>
                        <i class="fa fa-camera"></i>
                    </span>
                                    </li>
                                </ul>
                                <div class="time-left bottom-15 right-20 font-md-14">
                                    <span>
                    <i class="ico fa fa-clock-o mr-10"></i>
                    <span class="t-uppercase" data-countdown="2020/10/10 12:25:10"></span>
                </span>
                                </div>
                                <div class="deal-store-logo">
                                    <img src="assets/images/brands/brand_03.jpg" alt="">
                                </div>
                            </figure>
                            <div class="bg-white pt-20 pl-20 pr-15">
                                <div class="pr-md-10">
                                    <div class="rating mb-10">
                                        <span class="rating-stars rate-allow" data-rating="4">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                        <span class="rating-reviews">
                        ( <span class="rating-count">160</span> rates )
                                        </span>
                                    </div>
                                    <h3 class="deal-title mb-10">
                    <a href="deal_single.html">Hampton Bay LED Light Ceiling Exhaust Fan Hampton Bay LED Light Ceiling Exhaust Fan Fan Hampton Bay LED Light Ceiling Exhaust Fan</a>
                </h3>
                                    <ul class="deal-meta list-inline mb-10 color-mid">
                                        <li><i class="ico fa fa-map-marker mr-10"></i>Australia</li>
                                        <li><i class="ico fa fa-shopping-basket mr-10"></i>75 Bought</li>
                                    </ul>
                                    <p class="text-muted mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum.</p>
                                </div>
                                <div class="deal-price pos-r mb-15">
                                    <h3 class="price ptb-5 text-right"><span class="price-sale">$300.00</span>$150.00</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="deal-single panel">
                            <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="assets/images/deals/deal_04.jpg">
                                <div class="label-discount left-20 top-15">-15%</div>
                                <ul class="deal-actions top-15 right-20">
                                    <li class="like-deal">
                                        <span>
                        <i class="fa fa-heart"></i>
                    </span>
                                    </li>
                                    <li class="share-btn">
                                        <div class="share-tooltip fade">
                                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        <span><i class="fa fa-share-alt"></i></span>
                                    </li>
                                    <li>
                                        <span>
                        <i class="fa fa-camera"></i>
                    </span>
                                    </li>
                                </ul>
                                <div class="time-left bottom-15 right-20 font-md-14">
                                    <span>
                    <i class="ico fa fa-clock-o mr-10"></i>
                    <span class="t-uppercase" data-countdown="2018/01/02 10:35:23"></span>
                </span>
                                </div>
                                <div class="deal-store-logo">
                                    <img src="assets/images/brands/brand_04.jpg" alt="">
                                </div>
                            </figure>
                            <div class="bg-white pt-20 pl-20 pr-15">
                                <div class="pr-md-10">
                                    <div class="rating mb-10">
                                        <span class="rating-stars rate-allow" data-rating="2">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                        <span class="rating-reviews">
                        ( <span class="rating-count">100</span> rates )
                                        </span>
                                    </div>
                                    <h3 class="deal-title mb-10">
                    <a href="deal_single.html">Timberland Men's Thorton Waterproof Boots</a>
                </h3>
                                    <ul class="deal-meta list-inline mb-10 color-mid">
                                        <li><i class="ico fa fa-map-marker mr-10"></i>Canada</li>
                                        <li><i class="ico fa fa-shopping-basket mr-10"></i>10 Bought</li>
                                    </ul>
                                    <p class="text-muted mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum.</p>
                                </div>
                                <div class="deal-price pos-r mb-15">
                                    <h3 class="price ptb-5 text-right"><span class="price-sale">$380.00</span>$340.00</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="deal-single panel">
                            <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="assets/images/deals/deal_05.jpg">
                                <div class="label-discount left-20 top-15">-60%</div>
                                <ul class="deal-actions top-15 right-20">
                                    <li class="like-deal">
                                        <span>
                        <i class="fa fa-heart"></i>
                    </span>
                                    </li>
                                    <li class="share-btn">
                                        <div class="share-tooltip fade">
                                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        <span><i class="fa fa-share-alt"></i></span>
                                    </li>
                                    <li>
                                        <span>
                        <i class="fa fa-camera"></i>
                    </span>
                                    </li>
                                </ul>
                                <div class="time-left bottom-15 right-20 font-md-14">
                                    <span>
                    <i class="ico fa fa-clock-o mr-10"></i>
                    <span class="t-uppercase" data-countdown="2021/12/03 03:15:00"></span>
                </span>
                                </div>
                                <div class="deal-store-logo">
                                    <img src="assets/images/brands/brand_05.jpg" alt="">
                                </div>
                            </figure>
                            <div class="bg-white pt-20 pl-20 pr-15">
                                <div class="pr-md-10">
                                    <div class="rating mb-10">
                                        <span class="rating-stars rate-allow" data-rating="3">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                        <span class="rating-reviews">
                        ( <span class="rating-count">32</span> rates )
                                        </span>
                                    </div>
                                    <h3 class="deal-title mb-10">
                    <a href="deal_single.html">New and Refurbished Lenovo Laptops</a>
                </h3>
                                    <ul class="deal-meta list-inline mb-10 color-mid">
                                        <li><i class="ico fa fa-map-marker mr-10"></i>United State</li>
                                        <li><i class="ico fa fa-shopping-basket mr-10"></i>65 Bought</li>
                                    </ul>
                                    <p class="text-muted mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum.</p>
                                </div>
                                <div class="deal-price pos-r mb-15">
                                    <h3 class="price ptb-5 text-right"><span class="price-sale">$700.00</span>$576.00</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="deal-single panel">
                            <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="assets/images/deals/deal_06.jpg">
                                <div class="label-discount left-20 top-15">-60%</div>
                                <ul class="deal-actions top-15 right-20">
                                    <li class="like-deal">
                                        <span>
                        <i class="fa fa-heart"></i>
                    </span>
                                    </li>
                                    <li class="share-btn">
                                        <div class="share-tooltip fade">
                                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                        <span><i class="fa fa-share-alt"></i></span>
                                    </li>
                                    <li>
                                        <span>
                        <i class="fa fa-camera"></i>
                    </span>
                                    </li>
                                </ul>
                                <div class="time-left bottom-15 right-20 font-md-14">
                                    <span>
                    <i class="ico fa fa-clock-o mr-10"></i>
                    <span class="t-uppercase" data-countdown="2019/10/10 12:00:00"></span>
                </span>
                                </div>
                                <div class="deal-store-logo">
                                    <img src="assets/images/brands/brand_06.jpg" alt="">
                                </div>
                            </figure>
                            <div class="bg-white pt-20 pl-20 pr-15">
                                <div class="pr-md-10">
                                    <div class="rating mb-10">
                                        <span class="rating-stars rate-allow" data-rating="5">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                                        <span class="rating-reviews">
                        ( <span class="rating-count">29</span> rates )
                                        </span>
                                    </div>
                                    <h3 class="deal-title mb-10">
                    <a href="deal_single.html">Buying a TV Is Easy When You Know These Terms Buying a TV Is Easy When You Know These Terms Buying a TV Is Easy When You Know These Terms</a>
                </h3>
                                    <ul class="deal-meta list-inline mb-10 color-mid">
                                        <li><i class="ico fa fa-map-marker mr-10"></i>United Kingdom</li>
                                        <li><i class="ico fa fa-shopping-basket mr-10"></i>134 Bought</li>
                                    </ul>
                                    <p class="text-muted mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum.</p>
                                </div>
                                <div class="deal-price pos-r mb-15">
                                    <h3 class="price ptb-5 text-right"><span class="price-sale">$300.00</span>$250.00</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section stores-area stores-area-v1 ptb-30">
                <header class="panel ptb-15 prl-20 pos-r mb-30">
                    <h3 class="section-title font-18">Популярные магазины</h3>
                    <a href="{% url 'shop:store_list' %}" class="btn btn-o btn-xs pos-a right-10 pos-tb-center">Все магазины</a>
                </header>
                <div class="popular-stores-slider owl-slider" data-loop="true" data-autoplay="true" data-smart-speed="1000" data-autoplay-timeout="10000" data-margin="20" data-items="2" data-xxs-items="2" data-xs-items="2" data-sm-items="3" data-md-items="5" data-lg-items="6">
                {% for store in shop_main_list %}
                    <div class="store-item t-center">
                        <a href="{{ store.get_absolute_url }}" class="panel is-block">
                            <div class="embed-responsive embed-responsive-4by3">
                                <div class="store-logo">
                                    <img src="{{ store.image_store.url }}" alt="Скидки в магазине {{ store.title }}">
                                </div>
                            </div>
                            <h6 class="store-name ptb-10">{{ store.title }}</h6>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </section>


            <section class="section latest-news-area blog-area blog-grid blog-3-col ptb-30">
                <header class="panel ptb-15 prl-20 pos-r mb-30">
                    <h3 class="section-title font-18">Последние Новости</h3>
                    <a href="{% url 'blog:blog_index' %}" class="btn btn-o btn-xs pos-a right-10 pos-tb-center">Посетить блог</a>
                </header>

                <div class="row row-tb-20">

                    <!-- Blog Post -->
                    {% for post in blog_main_list %}
                    <div class="blog-post col-xs-12 col-sm-6 col-md-4">

                        <article class="entry panel">
                            <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="{{ post.image_list_blog.url }}">
                                <div class="entry-date">
                                    <h4>13</h4>
                                    <h6>JUN</h6>
                                </div>
                            </figure>
                            <div class="entry-wrapper pt-20 pb-10 prl-20">
                                <header class="entry-header">
                                    <h4 class="entry-title mb-10 mb-md-15 font-xs-16 font-sm-18 font-md-16 font-lg-16">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h4>
                                    <div class="entry-meta mb-10">
                                        <ul class="tag-info list-inline">
                                            <li> <i class="icon fa fa-user"></i>{{ post.author }}</li>
                                            <li><i class="icon fa fa-calendar"></i>{{ post.publish|date:"d.m.Y" }}</li>
                                            <li><i class="icon fa fa-tag"></i>
                                                <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="entry-content">
                                    <p class="entry-summary">{{ post.body|truncatewords:15|linebreaks }}</p>
                                </div>
                                <footer class="entry-footer text-right">
                                    <a href="{{ post.get_absolute_url }}" class="more-link btn btn-link">Читать дальше <i class="icon fa fa-long-arrow-right"></i></a>
                                </footer>
                            </div>
                        </article>

                    </div>
                    {% endfor %}
                    <!-- End Blog Post -->

                </div>
            </section>


            <section class="section subscribe-area ptb-40 t-center">
                <div class="newsletter-form">
                    <h4 class="mb-20"><i class="fa fa-envelope-o color-green mr-10"></i>Sign up for our weekly email newsletter</h4>
                    <p class="mb-20 color-mid">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi animi magni accusantium architecto possimus.</p>
                    <form method="post" action="#">
                        <div class="input-group mb-10">
                            <input type="email" class="form-control bg-white" placeholder="Email Address" required="required">
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                    <p class="color-muted"><small>We’ll never share your email address with a third-party.</small> </p>
                </div>
            </section>
        </div>
    </div>


</main>
<!-- –––––––––––––––[ END PAGE CONTENT ]––––––––––––––– -->

{% endblock %}