{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- container -->
  <div class="container">
    <!-- row -->
      <div class="row mt-3">
        <!-- front header -->
          <div class="col-lg-4 col-sm-12 text-center mb-4">
          <img class="img-fluid d-block mx-auto" src="{% static '/images/icons/tablet.png' %}" alt="Скидки и купоны, в одном месте, отсортированные по интернет-магазинам.">
          <h3>Скидки и купоны</h3>
          <p>Отсортированные в одном месте по интернет-магазинам.</p>
        </div>
          <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-fluid d-block mx-auto" src="{% static 'images/icons/online-shop-6.png' %}" alt="Лучшие предложения. Находите лучшие предложения от ведущих интернет-магазинов.">
          <h3>Лучшие предложения</h3>
          <p>Находите лучшие предложения от ведущих интернет-магазинов.</p>
        </div>
          <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-fluid d-block mx-auto" src="{% static 'images/icons/money.png' %}" alt="Экономьте деньги. Зачем покупать дороже если можно купить товар со скидкой.">
          <h3>Экономьте деньги</h3>
          <p>Зачем покупать дороже если можно купить товар со скидкой.</p>
        </div>
        <!-- front header end -->
      <!-- row end -->
      </div>
        <!-- deals list first -->
          <div class="card">
            <div class="card-body p-2">
              <h4 class="mb-0 py-2 pl-1 d-inline-block align-content-center">Cкидки</h4>
              <a href="{% url 'deal:deal_index' %}" class="btn btn-o float-right">Посмотреть все</a>
            </div>
          </div>

      <div class="row mt-3">
        <!-- front header -->
      {% for deal in deals_main_list %}
      <div class="col-lg-3 col-md-4 mb-4">
          <div class="card h-100">

            <figure class="figure-img d-flex mx-auto align-items-center mt-3" style="height: 223px">
            <a href="{{ deal.get_absolute_url }}"><img class="py-1 d-block img-fluid" src="{% if deal.deals_grid_image %}{{ deal.deals_grid_image.url }}{% endif %}" alt="Скидка на {{ deal.name }}"></a>
            </figure>
            <h6 class="price p-2 mb-0 text-center text-success"> {{ deal.price }} <i class="fas fa-ruble-sign"></i> / <span class="price-sale">{{ deal.old_price }} <i class="fas fa-ruble-sign"></i></span></h6>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">
                <a href="{{ deal.get_absolute_url }}">{{ deal.name|truncatechars:55 }}</a>
              </h4>

            </div>
              <a href="{{ deal.shop.get_absolute_url }}" class="text-center mb-1"><small>от</small> {{ deal.shop.title }}</a>
              <a href="{{ deal.url }}" target="_blank" class="btn btn-block card-footer text-white" >
                  В Магазин
              </a>
          </div>
        </div>
      {% endfor %}
      <!-- deals list first end -->
      <!-- row end -->
      </div>

      <!-- deals list second -->
          <div class="card">
            <div class="card-body p-2">
              <h4 class="mb-0 py-2 pl-1 d-inline-block align-content-center">Cкидки</h4>
              <a href="{% url 'deal:deal_index' %}" class="btn btn-o float-right">Посмотреть все</a>
            </div>
          </div>

      <div class="row mt-3">
        <!-- front header -->

      {% for deal in deals_main_list_two %}
      <div class="col-lg-3 col-md-4 mb-4">
          <div class="card h-100">

            <figure class="figure-img d-flex mx-auto align-items-center mt-3" style="height: 223px">
            <a href="{{ deal.get_absolute_url }}"><img class="py-1 d-block img-fluid" src="{% if deal.deals_grid_image %}{{ deal.deals_grid_image.url }}{% endif %}" alt="Скидка на {{ deal.name }}"></a>
            </figure>
            <h6 class="price p-2 mb-0 text-center text-success"> {{ deal.price }} <i class="fas fa-ruble-sign"></i> / <span class="price-sale">{{ deal.old_price }} <i class="fas fa-ruble-sign"></i></span></h6>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">
                <a href="{{ deal.get_absolute_url }}">{{ deal.name|truncatechars:55 }}</a>
              </h4>

            </div>
              <a href="{{ deal.shop.get_absolute_url }}" class="text-center mb-1"><small>от</small> {{ deal.shop.title }}</a>
              <a href="{{ deal.url }}" target="_blank" class="btn btn-block card-footer text-white" >
                  В Магазин
              </a>
          </div>
        </div>
      {% endfor %}
      <!-- deals list second end -->
      <!-- row end -->
      </div>


    <!-- Coupon list second -->
          <div class="card">
            <div class="card-body p-2">
              <h4 class="mb-0 py-2 pl-1 d-inline-block align-content-center">Промокоды и Акции</h4>
              <a href="{% url 'deal:coupon_list' %}" class="btn btn-o float-right">Посмотреть все</a>
            </div>
          </div>

      <div class="row mt-3">
        <!-- front header -->
      {% for coupon in coupons %}
      <div class="col-lg-3 col-md-4 mb-4">
          <div class="card h-100">

            <figure class="figure-img d-flex mx-auto align-items-center mt-3" style="height: 150px">
            <img class="py-1 d-block img-fluid" src="{% if coupon.shop.image_store %}
                                                     {{ coupon.shop.image_store.url }}
                                                     {% endif %}" alt="Промокод {{ coupon.title }}" style="width: 150px; height: 150px">
            </figure>
            <div class="card-body p-2">
              <h4 class="card-title text-center mb-0">{{ coupon.title }}</h4>
              <p class="text-center mt-2 mb-0">Годен до {{ coupon.expired|date:"d.m.Y" }}</p>
            </div>
              <a href="{{ coupon.shop.get_absolute_url }}" class="text-center mb-1">{{ coupon.shop.title }}</a>
              <a href="#" class="btn btn-coupon btn-block card-footer text-white" data-toggle="modal" data-target="#{{ coupon.id }}">
                  УЗНАТЬ ПРОМОКОД <i class="fas fa-angle-right"></i>
              </a>
          </div>
        </div>

        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="{{ coupon.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header p-1">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>
              <div class="modal-body">
              <div class="row">
                  <div class="col-md-12 align-content-center">

                      <img class="py-2 d-block mx-auto align-items-center img-fluid" src="{% if coupon.shop.image_store %}
                                                                                          {{ coupon.shop.image_store.url }}
                                                                                          {% endif %}" alt="Промокод {{ coupon.title }}">

                      <h3 class="text-center">{{ coupon.title }}</h3>
                      <p class="text-center">{{ coupon.body }}</p>
                        <p class="text-center mt-2 mb-2">Годен до {{ coupon.expired|date:"d.m.Y" }}</p>
                      <div class="input-group mb-3">
                        <input id="myInput" type="text" class="form-control text-center" value="{{ coupon.promocode }}" aria-describedby="promocode">

                        <div class="input-group-append">
                          <button id="copy-button" class="btn btn-outline-secondary" type="button" onclick="myFunction()">
                            <i class="fas fa-copy"></i>
                          </button>
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <a href="{{ coupon.coupon_link }}" class="btn d-block" target="_blank" style="color: #ffffff">Посетить магазин</a>
                    </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      <!-- Coupon list end -->
      <!-- row end -->
      </div>


    <!-- shops list second -->
      <div class="card">
        <div class="card-body p-2">
          <h4 class="mb-0 py-2 pl-1 d-inline-block align-content-center">Магазины</h4>
          <a href="{% url 'shop:store_list' %}" class="btn btn-o float-right">Посмотреть все</a>
        </div>
      </div>

      <div class="row mt-3 ml-0 mr-0 mb-4 owl-carousel">
      {% for store in shop_main_list %}
        <a href="{{ store.get_absolute_url }}">
          <div class="card" >
            <div class="d-flex mx-auto align-items-center">
            <img class="card-img d-block img-fluid py-2" src="{% if store.image_store %}{{ store.image_store.url }}{% endif %}" alt="Card image cap" style="height: 100px; width: 100px">
            </div>
              <div class="card-footer text-center">{{ store.title }}</div>
          </div>
        {% endfor %}
        </a>
        </div>
     <!-- Blog list second -->
      <div class="card">
        <div class="card-body p-2">
          <h4 class="mb-0 py-2 pl-1 d-inline-block align-content-center">Блог</h4>
          <a href="{% url 'blog:blog_index' %}" class="btn btn-o float-right">Посмотреть все</a>
        </div>
      </div>

      <div class="row mt-3">
        <!-- front header -->
      {% for post in blog_main_list %}
      <div class="col-lg-4 col-md-4 mb-4">
          <div class="card h-100">

            <figure class="figure-img d-flex mx-auto align-items-center">
            <a href="{{ post.get_absolute_url }}"><img class="pt-0 d-block img-fluid" src="{% if post.image_list_blog %}{{ post.image_list_blog.url }}{% endif %}" alt="{{ post.title }}" height="230"></a>
            </figure>
            <div class="card-body p-3">
              <h4 class="card-title mb-1">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              </h4>
              <div class="entry-meta">
                    <ul class="tag-info list-inline mb-1">
                        <li class="pl-0"><i class="fas fa-calendar"></i> {{ post.publish|date:"d.m.Y" }}</li>
                        <li class="pl-0"><i class="fas fa-tag"></i>
                            <a href="{{ post.category.get_absolute_url }}"> {{ post.category.name }}</a>
                        </li>
                    </ul>
                </div>
            <p class="card-text">{{ post.body|safe|truncatechars:140 }}</p>
            </div>
          </div>
        </div>
       {% endfor %}
        <!-- Blog list end -->
      <!-- row end -->
      </div>

<!-- container end-->
  </div>
{% endblock %}